@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  zoom: 0.8;
  /* -moz-transform: scale(1);
  -moz-transform-origin: 0 0; */

  scroll-behavior: smooth;
}

.nav-item .active {
  border-bottom: 1px solid #fff;
  line-height: 300%;
}

#hometext:before {
  font-style: bold;
  color: #f00000;
  content: "Organize";
}
